<component name="ArtifactManager">
  <artifact type="war" name="mybatisplus-spring-mvc:war">
    <output-path>$PROJECT_DIR$/mybatisplus-spring-mvc/target</output-path>
    <root id="archive" name="mybatisplus-spring-mvc.war">
      <element id="artifact" artifact-name="mybatisplus-spring-mvc:war exploded" />
    </root>
  </artifact>
</component>